name: Flutter
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  deploy:
    name: Build app
    runs-on: ubuntu-latest
    
    # Define caching key
    defaults:
      run:
        working-directory: ${{ github.workspace }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
            distribution: 'temurin'
            java-version: '17'
            cache: 'gradle'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.9'
          channel: 'stable'
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:' # optional, change this to force refresh cache
          cache-path: '${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:' # optional, change this to specify the cache path
          architecture: x64 # optional, x64 or arm64
      - run: flutter --version
      - run: flutter pub get
      - run: flutter test
      - run: flutter build apk
